{{ block "header" . }}
{{ $titleLen := (len $.Title) }}
{{ $firstWords := slicestr (.Site.Title) 0 12 }}
{{ $lastWord := slicestr (.Site.Title) 12 }}
{{ $headerContext := "interior" }}
{{ if .IsHome }}
  {{ $headerContext = "home" }}
{{ end }}
<header class="[ wrapper ][ center ][ {{ $headerContext }} ]">
  {{ if .IsHome }}
    {{ partial "logo-teal.html" . }}
  {{ else }}
  <a href="/">
    {{ partial "logo-teal.html" . }}
  </a>
  {{ end }}
  {{ if .Site.Menus.main  }}
    <nav id="nav">
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{ end }}
    </nav>
    {{ end }}
  <div class="[ center ][ stack ]">
    {{ partial "logo-pale-sun.html" . }}
    <h1>
      <span class="[ subtitle ]">{{ .Site.Params.subtitle }}</span>
    </h1>
    
  </div>
</header>
{{ end }}