{{ block "main" . }}
  {{ $pageContext := "interior-content" }}
  {{ if .IsHome }}
    {{ $pageContext = "home-content" }}
  {{ end }}
  {{ if .Site.IsServer }}
    {{ printf "<!-- project main.html  template -->" | safeHTML }}
  {{ end }}
  <main class="[ center ]">
    <div class="[ stack ]">
      {{ if (not .IsHome) }}
      {{ .Title }}
      {{ end }}
    <section  class="[ stack ][ {{ $pageContext }}  ]">
       {{ partial "hp-hero.html" . }}
       {{ partial "logo-pale-sun.html" . }}
       <h1>
        <span class="[ subtitle ]">{{ .Site.Params.subtitle }}</span>
      </h1>
        {{ .Content }}
    </section>
    </div>
  </main>
{{ end }}
