
{{ block "main" . }}
  {{ $mainContent := partial "first-paragraph.html" .Content }}
  {{ $pageContext := "interior-content" }}
  {{ if .IsHome }}
    {{ $pageContext = "home-content" }}
  {{ end }}
  {{ if .Site.IsServer }}
    {{ printf "<!-- project main.html bobo template -->" | safeHTML }}
  {{ end }}
  <main class="[ center ][ home ]">
    <div class="[ stack ]">
      {{ if (not .IsHome) }}
      {{ .Title }}
      {{ end }}
    <section  class="[ stack ][ {{ $pageContext }}  ]">
      <div class="[ stack ][ inner-grid ]">
        {{/*  {{ partial "hp-hero.html" . }}  */}}
        {{ partial "mast.html" . }}
        {{ partial "first-paragraph.html" }}
        {{ $mainContent | safeHTML }}
      </div>
    </section>
    </div>
  </main>
{{ end }}
